@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Regular.woff') format('woff'),
    url('../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-SemiBold.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../font/OpenSans-SemiBold.eot#iefix') format('embedded-opentype'),
    url('../font/OpenSans-SemiBold.woff') format('woff'),
    url('../font/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Bold.woff') format('woff'),
    url('../font/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "OpenSans", "sans-serif";
    font-weight: normal;
    line-height: 17px;
}


:root {
    --red: #CC0000;
    --grey: #828282;
    --textSecond: 13px;
    --textBlack: #333333;
}




.dsContainer {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.city {
    background-color: var(--red);
    padding: 10px 0 10px 0;
    color: #FFFFFF;
}

.city h1 {
    font-family: "OpenSans", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

.firstLogo {
    width: 225px;
    height: 56px;
}

.header {
    padding: 10px 0 0 0;
}

.topLine {
    width: 100%;
}

.textNumber {
    color: var(--red);
    font-family: "OpenSans", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.textSecond {
    color: var(--grey);
    font-size: var(--textSecond);
}

.info-item {
    display: block;
}

.info-item .textSecond {
    color: var(--textBlack);
}

p {
    display: inline-block;
    margin: 0;
    color: var(--textBlack)
}

.button {
    color: var(--textBlack);
    border: 2px solid var(--red);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-appearance: none;
    appearance: none;
    background: white;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 2px;
}

.menu-button a {
    align-items: center;
    font-size: 15px;
    transition: all 0.1s ease-in;
    color: var(--textBlack);
    line-height: 22px;
    padding: 19px 0 10px 0;
    display: inline-block;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
}

.menu-button-second {
    padding: 0 0 0 -15px;
}

li {
    display: inline;
    margin: 0 40px 0 0;
    font-size: 15px;
    line-height: 22px;
}

ul {
    padding: 0 0 0 0;
}

a, a:hover {

    text-decoration: none;
    font-family: "OpenSans", "sans-serif";
    font-style: normal;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--red);
    color: var(--red);
}

.title-first p {
    font-family: "OpenSans", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: var(--textBlack);
}

.services-bage {
    padding: 15px 0 15px;
}

.services-bage p {
    color: #FFFFFF;
    background: #2CB84A;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 20px;
}

.form-call p {
    font-family: "OpenSans", "sans-serif";
    font-style: normal;
    color: var(--textBlack);
    padding: 0 0 10px 0;
    font-size: 14px;
}

.form-call {
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 30px 25px;
    font-size: 21px;
}

.text-black {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding: 0 0 2px;
}

.call-text {
    font-size: 14px;
    padding: 0 0 10px 0;
}

.form-to-fill input {
    font-family: "OpenSans", "sans-serif";
    font-style: normal;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 13px 12px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

input::placeholder {
    color: var(--grey);
}

input:focus::placeholder {
    color: var(--textBlack);
}

.car-service {
    color: #A9A6AE;
    width: 100%;
}

.select {
    position: relative;
}

.select select {
    font-family: "OpenSans", "sans-serif";
    display: block;
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    color: var(--textBlack);
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.button-form {
    margin: 20px 0 0 0;
    padding: 20px 25px 20px;
    width: 100%;
    color: #FFFFFF;
    background: var(--red);
    align-items: center;
    border: none;
    border-radius: 2px;
}

.form-info p {
    color: var(--grey);
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
    margin-top: 10px;
}

.title-second > p {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
}

/* Карусель отзывов */

.feedback {
    display: inline-block;

}

.client-name {
    font-size: 14px;
    font-weight: normal;
    color: var(--textBlack);
    line-height: 20px;
    display: block;
    padding: 10px 0 5px;
}

.star {
    display: inline-block;
}

.feedback-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey);
}

.owl-stage-outer {
    position: relative;
}

.owl-prev {
    position: absolute;
    top: 57px;
    transform: rotate(180deg);
    width: 40px;
    height: 40px;
}

.owl-next {
    position: absolute;
    left: 827px;
    top: 57px;
    width: 40px;
    height: 40px;
}

.owl-carousel .owl-nav button.owl-next {
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 7px #E5E5E5;
}

.owl-carousel .owl-nav button.owl-prev {
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 7px #E5E5E5;
}

.disabled {
    display: none;
}

/* Карусель отзывов Конец*/

/* Преимущества */

.advantages {
    border-radius: 10px;
    background: #F7F7F7;
    margin: 10px 0 0 0 ;
}

.advantages-block {
    display: inline-block;
    max-width: 45%;
    padding: 20px 16px 10px 16px;
}

.advantages-p {
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: var(--textBlack);
    display: inline-block;
    width: 100%;
    padding: 0 0 20px;
}
/*Состав работ*/
.scope-of-work>p{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
    padding-bottom: 10px;

}
.all-work {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.all-work li {
    flex-basis: 45%;
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    color: var(--textBlack);
    margin-right: 20px;
}

/*Акции*/
.job{
    display: inline-block;
    width: 100%;
}
.job>.feedback-text{
    display: block;
    min-height: 65px;
}
.margin-text{
    margin-bottom: 20px;
}

.stocks-p{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.is-free{
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    background: var(--red);
    border-radius: 3px;
    margin-bottom: 7px;

}
.price{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: var(--textBlack);
}
.price-1{
    text-decoration: line-through var(--red);
    padding-left: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey);
}
/* Карусель фотографий*/

.owl-carousel-2 .image-work > img{
}
.owl-carousel-2 .owl-item img
{
    margin-right: 5px;
    width: 100%;
    max-height: 300px;
    overflow: hidden;

}
.owl-carousel-2 .owl-prev {
    position: absolute;
    top: 130px;
    transform: rotate(180deg);
    width: 40px;
    height: 40px;
}

.owl-carousel-2 .owl-next {
    position: absolute;
    left: 827px;
    top: 130px;
    width: 40px;
    height: 40px;
}
/* Карусель фотографий Конец*/
/* текстовка и нижний колонтитул*/
.time-of-reception{
    align-items: center;
    text-align: center;
}
.footer {
    align-items: center;
    text-align: center;
    margin: 40px 0 0 0 ;
}
.margin-footer{
    padding: 40px 0 140px 0;
    background: #F7F7F7;
}
.object{
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}